body {
  padding: 0 auto;
  margin: 0 auto;
  font: 14px Segoe UI, Helvetica, sans-serif;
  background-color: rgb(248, 249, 250);
}

.logo {
  line-height: 50px;
  float: left;
  font-size: 40px;
  text-transform: uppercase;

}

.list {
  float: right;
  line-height: 100px;
  text-transform: uppercase;
  padding-right: 90px;

}
.mode-b {
  font-size: 20px;
}

.list a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;

}
.list a:hover{
  color: #FF9D93;

}
.header{
  padding: 0 20px;
  border-top: 0;
  height: 100px;
  background: #7F2312;
  color:#fff;
    box-shadow: 10px 0px 5px grey;
}
.logo:hover {
  color: #FF9D93;
}
.main {
  text-align: center;
}
.video {
  display: block;
  margin: 0 auto;
  transform: rotateY(180deg);

}
.container-webcam {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 12%;
    margin-right: 12%;
    border-radius: 10px;
    box-shadow: 0px 2px 5px grey;

}
.id {
  height:1024px;
  width:1024px;
  align-content:center;
  display: inline-block;
}