body {
  padding: 0 auto;
  margin: 0 auto;
  font: 14px Segoe UI, Helvetica, sans-serif;
  background-color: rgb(248, 249, 250);
}

.logo {
  line-height: 50px;
  float: left;
  font-size: 40px;
  text-transform: uppercase;

}

#container-canvas{
    visibility: hidden;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 0px;
    padding-right: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 12%;
    margin-right: 12%;
    border-radius: 10px;
    box-shadow: 0px 2px 5px grey;
}
.list {
  float: right;
  line-height: 100px;
  text-transform: uppercase;
  padding-right: 90px;

}
.mode-b {
  font-size: 20px;
}

.list a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;

}
.list a:hover{
  color: #FF9D93;

}
.header{
  padding: 0 20px;
  border-top: 0;
  height: 100px;
  background: #7F2312;
  color:#fff;
    box-shadow: 10px 0px 5px grey;
}
.logo:hover {
  color: #FF9D93;
}
.main {
  text-align: center;
}
.video {
  display: block;
  margin: 0 auto;
  transform: rotateY(180deg);

}
.container-webcam {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 12%;
    margin-right: 12%;
    border-radius: 10px;
    box-shadow: 0px 2px 5px grey;

}
.id {
  height:1024px;
  width:1024px;
  align-content:center;
  display: inline-block;
}
.loading {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    height: 40px;
    display: flex;
    align-items: center;
    visibility: hidden;
}
.obj {
    width: 5px;
    height: 40px;
    background: black;
    margin: 0 3px;
    border-radius: 10px;
    animation: loading 0.8s infinite;
}
.obj:nth-child(2){
    animation-delay:0.1s;
}
.obj:nth-child(3){
    animation-delay:0.2s;
}
.obj:nth-child(4){
    animation-delay:0.3s;
}
.obj:nth-child(5){
    animation-delay:0.4s;
}
.obj:nth-child(6){
    animation-delay:0.5s;
}
.obj:nth-child(7){
    animation-delay:0.6s;
}
.obj:nth-child(8){
    animation-delay:0.7s;
}

@keyframes loading {
    0%{
        height: 0;
    }
    50%{
        height: 40px;
    }
    100%{
        height: 0;
    }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #FF9D93;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #7F2312;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #7F2312;
  color: white;
}
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}